.ya-share2 {
    &__list {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        margin: 5px 4px 5px 0;

        &_service_vkontakte .ya-share2__icon {
            background: url('/img/vk.svg') no-repeat center;
        }

        &_service_twitter .ya-share2__icon {
            background: url('/img/twitter.svg') no-repeat center;
        }

        &_service_facebook .ya-share2__icon {
            background: url('/img/facebook.svg') no-repeat center;
        }
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        white-space: nowrap;
    }

    &__badge {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        height: 34px;
        width: 94px;
        border: 0.5px solid #bfbfbf;
        color: #ffffff;
        overflow: hidden;
        position: relative;
    }

    &__icon {
        display: inline-block;
        height: 24px;
        width: 24px;
        margin: 5px 35px;
    }

    &__counter {
        font-size: 12px;
        line-height: 24px;
        padding: 0 8px;
    }

    &__title {
        display: none;
    }
}

.footer {
    .ya-share2__list {
        display: flex;
        width: max-content;
        margin: 0 auto;
    }

    .ya-share2__item {
        margin: 0 30px 0 0;
    }

    .ya-share2__item:last-child {
        margin: 0;
    }

    .ya-share2__badge {
        border: none;
        width: 24px;
        height: 24px;
    }

    .ya-share2__icon {
        margin: 0;
    }

    .ya-share2__item_service_vkontakte .ya-share2__icon {
        background: url('/img/vk-footer.svg') no-repeat center;
    }

    .ya-share2__item_service_twitter .ya-share2__icon {
        background: url('/img/twitter-footer.svg') no-repeat center;
    }

    .ya-share2__item_service_facebook .ya-share2__icon {
        background: url('/img/facebook-footer.svg') no-repeat center;
    }
}
