.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    &--footer {
        width: max-content;
        margin: 0 auto;
        padding: 0 0 40px 0;
    }

    &__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #f5f5f5;
    }
}
