.main-slider {
    background-color: $color-bg-dark;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #f5f5f5;

    &__container {
        width: 920px;
        overflow: hidden;
    }

    &__list {
        display: inline-block;
        list-style: none;
        font-size: 0;
        padding: 0;
        white-space: nowrap;
        // transition: transform 1s ease-in-out;

    }

    &__item {
        display: inline-block;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &:first-child {
            opacity: 1;
        }
    }

    &__slide {
        width: 920px;
        height: 530px;
        background-color: green;
    }

    &__slide-name {
        font-size: $font-size-s;
        line-height: 1.25;
        font-weight: 300;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    &__slide-index {
        font-size: $font-size-s;
        line-height: 0.8;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__all-numbers {
        opacity: 0.5;
    }

    &__button {
        position: absolute;
        bottom: 10px;
        border: none;
        background-color: transparent;
        // background: url() no-repeat;
        width: 40px;
        padding: 0;
        cursor: pointer;

        &--right {
            right: 0;
        }
    }

    &__link {
        color: #bfbfbf;
        text-decoration: none;
        font-size: $font-size-s;
        margin-left: 18px;
    }
}
