.secondary-slider {
    background-color: $color-bg-dark;
    margin-bottom: 40px;

    &__container {
        display: inline-block;
        vertical-align: middle;
        width: 800px;
        height: 90px;
        overflow: hidden;
    }

    &__list {
        display: inline-block;
        list-style: none;
        font-size: 0;
        padding: 0;
        white-space: nowrap;
        transition: transform 1s ease-in-out;
    }

    &__item {
        width: 120px;
        height: 90px;
        display: inline-block;
        margin-right: 40px;
        background-color: rgb(83, 54, 27);
        background: none no-repeat;
        background-size: cover;
        cursor: pointer;
        opacity: 0.45;
        transition: opacity 1s ease;

        &:first-child {
            opacity: 1;
        }
    }
}
