.creation {
    // display: flex;
    // flex-wrap: wrap;
    font-size: 0;
    margin-bottom: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid $color-bg-light;

    &__wrapper {
        flex-grow: 1;
        border-bottom: 1px solid $color-bg-light;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    &__wrapper-text-img {
        padding: 0 80px;
        margin-bottom: 40px;
    }

    &__wrapper-description {
        margin-bottom: 60px;
        display: flex;
    }

    &__paragraph-title {
        display: inline-block;
        width: 500px;
        font-size: $font-size-xl;
        color: #bfbfbf;
        line-height: 30px;
        vertical-align: top;
        margin: 0;
        padding: 0;
        padding-right: 40px;
    }

    &__description {
        display: inline-block;
        width: 440px;
        font-size: $font-size-m;
        line-height: 26px;
        vertical-align: top;
        margin: 0;
        margin-right: 40px;
        padding: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img-min {
        display: inline-block;
        margin-left: 40px;
        padding: 0;
    }

    &__img-max {
        display: inline-block;
        margin-bottom: 40px;
        padding: 0;
    }

    &__social-buttons {
        display: flex;
    }
}
