.museum {
    margin-bottom: 100px;
    padding-bottom: 40px;

    &__map {
        max-width: 1200px;
        height: 514px;
        margin: 0 auto;
        margin-bottom: 40px;
        border: none;
        background: url('/static/img/map-desktop.jpg') no-repeat center;

        > iframe {
            border: none;
            max-width: 1200px;
            width: calc(100vw - 20px);
            margin: 0 auto;
            display: block;
        }
    }

    &__wrapper-address {
        margin: 0 auto;
        display: flex;
    }

    &__address {
        width: 279px;
        border-right: 1px solid $color-bg-light;
        margin: 0;
        margin-left: 40px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            border: none;
        }
    }

    &__position {
        display: inline-block;
        margin: 0;
        margin-bottom: 20px;
        padding-left: 15px;
        font-weight: 700;
        color: #202020;
        text-decoration: none;

        &::before {
            content: '';
            display: inline-block;
            transform: translate3d(-15px, 3px, 0);
            width: 14px;
            height: 18px;
            background: url('/img/marker.svg') no-repeat;
        }
    }

    &__contact {
        margin: 0;
        padding-right: 96px;
        font-size: $font-size-s;
        color: #bfbfbf;
        line-height: 24px;
    }
}
