// цвет фона
$color-bg-light: #e5e5e5;
$color-bg-dark: #202020;
$color-bg-img-light: #e7c16c;
$color-bg-img-dark: #070b1c;

// цвет текста
$color-text-light: #e5e5e5;
$color-text-dark: #4b4b4b;


// размер фрифтов
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 30px;
$font-size-xxxl: 40px;
$font-size-xxxxl: 80px;
