@import 'constants.scss';
@import 'fonts.scss';
@import 'common.scss';
@import 'blocks/header/header.scss';
@import 'blocks/search/search.scss';
@import 'blocks/nav-list/nav-list.scss';
@import 'blocks/logo/logo.scss';
@import 'blocks/header-title/header-title.scss';
@import 'blocks/header-picture/header-picture.scss';
@import 'blocks/title-section/title-section.scss';
@import 'blocks/biography/biography.scss';
@import 'blocks/ya-share2/ya-share2.scss';
@import 'blocks/button-more/button-more.scss';
@import 'blocks/work/work.scss';

// нужно убрать лишние импорты