.biography {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;

    &__block-text {
        color: #4c4c4c;
        width: 520px;
        padding-top: 5px;
        padding-bottom: 64px;

        @include mq(1023) {
            width: auto;

            &:last-child {
                padding-bottom: 10px;
            }
        }
    }

    &__text {
        line-height: 1.6;
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    &__data {
        position: absolute;
        top: -10px;
        left: -90px;
        font-size: 20px;
        line-height: 2.5;
        letter-spacing: 0.05em;
        color: #bfbfbf;

        @include mq(1023) {
            top: -50px;
            left: 0;
        }
    }
}

.bio {
    transition: all 1s ease;
}
