.header {
    height: 100vh;
    background-color: $color-bg-dark;
    position: relative;

    &--catalog {
        overflow: hidden;
    }

    &__bg-img {
        background: url('/img/bg-header.jpg') no-repeat;
        background-size: cover;
        background-position-x: center;
        height: 100vh;
        width: 770px;
        position: absolute;
        left: -570px;
    }

    &__nav {
        position: absolute;
        top: 40px;
        right: 7vw;
        z-index: 2;
    }

    &__nav-button {
        display: none;
    }
}
