// .header {
//     height: 100vh;
//     background-color: $color-bg-dark;
//     position: relative;

//     @include mq(1023) {
//         width: 320px;
//         margin: 0 auto;
//     }

//     &--catalog {
//         overflow: hidden;
//     }

//     &__bg-img {
//         background: url('/img/bg-header.jpg') no-repeat;
//         background-size: cover;
//         background-position-x: center;
//         height: 100vh;
//         width: 770px;
//         position: absolute;
//         left: -570px;

//         @include mq(1023) {
//             background: url('/img/bg-header--mobile.jpg') no-repeat;
//             left: 0;
//             bottom: 0;
//             width: 320px;
//             height: 125px;
//         }
//     }

//     &__nav {
//         position: absolute;
//         top: 40px;
//         right: 7vw;
//         z-index: 2;

//         @include mq(1023) {
//             top: 35px;
//             right: 20px;
//         }
//     }

//     &__nav-button {
//         display: none;
//         border: none;
//         width: 24px;
//         height: 16px;
//         background: url('/img/burger-menu.png') no-repeat center;
//         cursor: pointer;

//         @include mq(1023) {
//             display: block;
//         }
//     }
// }
