.title-section {
    color: #202020;
    font-size: $font-size-xxxl;
    font-family: 'YesevaOne', sans-serif;
    margin: 0;

    &--biography {
        margin-right: 162px;
    }

    &--creation {
        display: inline-block;
        width: max-content;
        margin: 0;
        margin-right: 63px;
    }

    &--museum {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
