// .filters {
//     &__section {
//         position: relative;
//     }

//     &__styles-all {
//         position: relative;
//     }

//     &__button {
//         border: none;
//         width: 100%;
//         text-align: left;
//         background-color: transparent;
//         font-size: $font-size-xs;
//         text-transform: uppercase;
//         font-weight: 700;
//         padding: 0;
//         cursor: pointer;

//         &::before,
//         &::after {
//             content: '';
//             position: absolute;
//             top: 10px;
//             right: 0;
//             width: 10px;
//             height: 2px;
//             background-color: black;
//             cursor: pointer;
//             transition: transform 0.3s ease;
//         }

//         &--is-close::after {
//             transform: rotate(90deg);
//         }

//         &--styles {
//             padding-left: 20px;
//             text-transform: none;

//             &::before,
//             &::after {
//                 top: 7px;
//                 left: 0;
//             }
//         }
//     }

//     &__search {
//         padding-top: 16px;
//     }

//     &__search-input {
//         width: 100%;
//         line-height: 29px;
//         border: 1px solid $color-bg-light;
//         box-sizing: border-box;
//         font-size: $font-size-xs;
//         padding: 0;

//         &::placeholder {
//             padding-left: 10px;
//             color: $color-bg-light;
//         }

//         &--date {
//             width: 80px;
//             margin-right: 10px;
//         }
//     }

//     &__list {
//         list-style: none;
//         border-bottom: 1px solid $color-text-light;
//         margin: 20px 0;
//         padding: 0;
//         padding-bottom: 20px;
//     }


//     &__item {
//         position: relative;
//         width: 200px;
//         display: flex;
//         justify-content: space-between;
//         font-size: $font-size-xs;
//         cursor: pointer;
//         margin-bottom: 20px;

//         &:last-child {
//             margin-bottom: 0;
//         }
//     }

//     &__item-close-btn {
//         opacity: 0;
//         position: absolute;
//         width: 7px;
//         height: 7px;
//         left: -12px;
//         top: 4px;
//         background: url('/static/img/group.png') no-repeat center;
//         transition: all 0.2s ease-in;

//         &--is-hover {
//             opacity: 1;
//         }

//         &--is-active {
//             transform: rotate(45deg);
//         }
//     }

//     &__lable {
//         padding-left: 20px;
//         cursor: pointer;

//         &::before {
//             content: '';
//             position: absolute;
//             top: -1px;
//             left: 0;
//             display: inline-block;
//             box-sizing: border-box;
//             width: 16px;
//             height: 16px;
//             border: 1px solid #dbdbdb;
//             border-radius: 4px;
//         }

//         > span {
//             margin-left: 10px;
//         }
//     }

//     &__check {
//         display: none;
//     }

//     &__check:checked + label {
//         background-color: green;
//     }

//     &__number {
//         color: #bfbfbf;
//     }
// }
