.categories {
    padding: 60px 0 0 0;
    border-bottom: 1px solid $color-bg-light;

    &__button {
        border: none;
        background-color: transparent;
        padding: 0;
        padding-bottom: 10px;
        margin-right: 40px;
        font-family: "YesevaOne", sans-serif;
        color: #c4c4c4;
        font-size: $font-size-xl;
        line-height: 23px;
        cursor: pointer;

        &--is-active {
            color: $color-bg-dark;
            border-bottom: 3px solid #202020;
        }
    }
}
