.work {
    &__button {
        border: none;
        background-color: transparent;
        font-size: $font-size-xs;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
    }

    &__list {
        list-style: none;
        border-bottom: 1px solid $color-text-light;
        margin: 20px 0;
        padding: 0;
        padding-bottom: 20px;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: $font-size-xs;
        cursor: pointer;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__number {
        color: #bfbfbf;
    }

    &__group {
        opacity: 0;
        position: absolute;
        width: 7px;
        height: 7px;
        left: -12px;
        top: 4px;
        background: url('/static/img/group.png') no-repeat center;
        transition: all 0.2s ease-in;

        &--is-active-hover {
            opacity: 1;
        }

        &--is-active-active {
            transform: rotate(45deg);
        }
    }
}
