.search {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 31%;
    overflow: hidden;

    &--catalog {
        left: 7%;
    }

    &__btn {
        border: none;
        background-color: transparent;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        transform: translate3d(-200px, 5px, 0);
        transition: transform 0.4s ease-in-out;
    }

    &__input {
        background-color: transparent;
        width: 200px;
        color: #f5f5f5;
        font-size: 16px;
        border: none;
        padding-top: 4px;
        border-bottom: 2px solid #f5f5f5;
        transform: translate3d(-202px, 0, 0);
        transition: transform 0.4s ease-in-out;
    }
}
